::ng-deep .wh100p svg{
  height: 100px;
}

::ng-deep .w80p svg{
  width: 80px;
}

::ng-deep .h80p svg{
  height: 80px;
}

::ng-deep .w70p svg{
  width: 70px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0B0B0B;
}

.container .container-centralize{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-centralize > header{
  width: 75%;
  height: 10%;
  border-bottom: 2px solid #101010;
  display: flex;
  position: fixed;
  background-color: #0B0B0B;
  z-index: 99;
}

.container-centralize header .separete-header{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.container-centralize header .separete-header h1{
  font-family: 'Times New Roman', sans-serif;
  font-size: 24px;
  color: #97EDAA;
}

.container-centralize header .separete-header:last-child{
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
}

.container-centralize header .separete-header a{
  cursor: pointer;
  font-size: 18px;
}

.container-centralize section#home{
  width: 90%;
  height: 500px;
  margin-top: 10%;
  display: flex;
}

section#home > div{
  width: 50%;
  height: 100%;
}

section#home > div:first-child{
  display: flex;
  align-items: center;
}

section#home > div .container-text{
  width: 419px;
  height: 200px;
  color: whitesmoke;
}

.container-text > header, .container-text .infos-wraper{
  width: 100%;
  height: 50%;
}

.container-text > header{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-text > header p,
.container-text .infos-wraper header p{
  font-size: 20px;
}

.container-text > header h1{
  font-size: 35px;
  color: #97EDAA;
}

.container-text .infos-wraper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-text .infos-wraper .button-wraper button{
  width: 193px;
  height: 37px;
  background-color: #97EDAA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.container-text .infos-wraper .button-wraper button:hover{
  background-color: #70f38c;
}

section#home > div:last-child .image{
  width: 95%;
  height: 95%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-centralize section#aboutMe{
  width: 100%;
  height: 405px;
  margin-top: 5%;
}

section#aboutMe header{
  width: 100%;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

section#aboutMe header h1{
  color: #97EDAA;
  font-size: 32px;
  font-weight: 400;
}

section#aboutMe header p{
  font-size: 18px;
  font-weight: 600;
  color: whitesmoke;
}

section#aboutMe .container-infosMe{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  color: whitesmoke;
}

section#aboutMe .container-infosMe .infosMe-wraper{
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.container-infosMe .infosMe-wraper .infoMe{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-infosMe .infosMe-wraper .infoMe .icon{
  width: 62px;
  height: 62px;
}

.container-infosMe .infosMe-wraper .infoMe .sub-info h1{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.container-infosMe .infosMe-wraper .infoMe .info a, .infoMe .info p{
  font-size: 18px;
  font-weight: 400;
  color: whitesmoke;
  text-decoration: none;
}

section#projects{
  width: 100%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

section#projects .container-projects{
  width: 100%;
  min-height: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(592px, max-content));
  justify-content: space-around;
  align-items: center;
}

section#projects .container-projects .project-wraper{
  width: 592px;
  height: 400px;
}

.container-projects .project-wraper header{
  width: 100%;
  height: 60%;
  position: relative;
}

.container-projects .project-wraper header .container-slides{
  width: 100%;
  height: 100%;
  position: relative;
}

.project-wraper header .container-slides .slide{
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #1F1F1F;
  transition: opacity 0.3s ease-in-out;
}

.project-wraper:first-child .container-slides .slide:last-child{
  background-position: center;
}

.project-wraper:nth-of-type(3) .container-slides .slide:last-child{
  background-position: center -20px;
}

.project-wraper .container-infos{
  width: 100%;
  height: 40%;
}

.project-wraper .container-infos .infos-wraper{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.project-wraper .container-infos .infos-wraper h1{
  font-size: 24px;
  font-weight: 500;
  color: whitesmoke;
}

.project-wraper .container-infos .infos-wraper p{
  font-size: 18px;
  color: #97EDAA;
}

.project-wraper .container-infos .links-wraper{
  width: 100%;
  height: 30%;
  display: flex;
  gap: 30px;
}

.project-wraper .container-infos .links-wraper a{
  width: 206px;
  height: 37px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #97EDAA;
  color: #0B0B0B;
}

.project-wraper .container-infos .links-wraper a:last-child{
  background-color: transparent;
  border: 2px solid #97EDAA;
  color: #97EDAA;
}

section#services{
  width: 100%;
  height: 350px;
  margin-top: 5rem;
}

section#projects header, section#services header{
  width: 100%;
  color: #97EDAA;
}

section#services header, section#services .container-services{
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section#projects header h1,
section#services header h1,
section#skills header h1{
  font-size: 32px;
  text-align: center;
}

section#services .container-services{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

section#services .container-services article{
  width: 384px;
  height: 240px;
  background-color: #101010;
  border: 1px solid #1F1F1F;
  position: relative;
  padding: 0 0 0 2rem;
  display: flex;
  align-items: center;
}

section#services .container-services article::before{
  content: '';
  width: 100%;
  height: 4px;
  background-color: #97EDAA;
  position: absolute;
  bottom: -2px;
  left: -1px;
  border: 1px solid #1F1F1F;
}

section#services .container-services article .article-content{
  width: 118px;
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section#services .container-services article .article-content .icon{
  width: 56px;
  height: 56px;
}

article .article-content .icon svg{
  width: 100%;
  height: 100%;
}

article .article-content h1{
  font-size: 26px;
  color: whitesmoke;
}

section#skills{
  width: 100%;
  height: 300px;
  margin-top: 10rem;
  color: #97EDAA;
}

section#skills header{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#skills .container-skills{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#skills .container-skills article{
  width: 176px;
  height: 150px;
  background-color: #101010;
  border: 1px solid #1F1F1F;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#skills .container-skills article .icon{
  width: 80px;
  height: 80px;
}

footer{
  width: 100%;
  height: 100px;
  background-color: #101010;
  color: whitesmoke;
  display: flex;
}

footer div{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

footer div p{
  font-size: 20px;
}

footer div span{
  color: #97EDAA;
}

@media screen and (max-width: 1650px){
  .container .container-centralize{
    width: 90%;
  }

  .container-centralize > header{
    width: 90%;
  }
}

@media screen and (max-width: 1380px){
  section#projects{
    width: 80%;
    min-height: 2000px;
  }

  section#projects .container-projects{
    gap: 200px;
    display: flex;
    flex-direction: column;
  }

  section#projects .container-projects .project-wraper{
    min-width: calc(592px * 1.4);
    height: calc(400px * 1.4);
  }

  section#services .container-services article{
    width: calc(384px * 0.8);
    height: calc(240px * 0.8);
  }

  section#services .container-services article .article-content .icon{
    width: calc(56px * 0.8);
    height: calc(56px * 0.8);
  }

  section#skills .container-skills article{
    width: calc(176px * 0.8);
    height: calc(150px * 0.8);
  }

  ::ng-deep .wh100p svg{
    height: calc(100px * 0.8);
  }

  ::ng-deep .w80p svg{
    width: calc(80px * 0.8);
    height: calc(80px * 0.8);
  }

  ::ng-deep .h80p svg{
    height: calc(80px * 0.8);
  }

  ::ng-deep .w70p svg{
    width: calc(70px * 0.8);
  }

  footer div p{
    font-size: 18px;
  }
}

@media screen and (max-width: 1110px){
  .container-centralize header .separete-header h1{
    font-size: 22px;
  }

  .container-centralize header .separete-header a{
    font-size: 16px;
  }

  .container-text > header p,
  .container-text .infos-wraper header p{
    font-size: 18px;
  }

  .container-text > header h1,
  section#aboutMe header h1{
    font-size: 30px;
  }

  section#aboutMe header p{
    font-size: 15px;
  }

  .container-infosMe .infosMe-wraper .infoMe .sub-info h1{
    font-size: 17px;
  }

  .container-infosMe .infosMe-wraper .infoMe .info a,
  .infoMe .info p{
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px){
  section#home > div:last-child {
    display: flex;
    align-items: center;
  }

  section#home > div:last-child .image{
    width: 100%;
    height: 70%;
  }

  section#projects .container-projects .project-wraper{
    min-width: calc(592px * 1.4 * 0.8);
    height: calc(400px * 1.4 * 0.8);
  }

  section#services{
    height: auto;
  }

  section#services header{
    height: 100px;
  }

  section#services .container-services{
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}

@media screen and (max-width: 850px){
  .container-centralize header{
    width: 100%;
    justify-content: center;
  }

  .container-centralize header .separete-header{
    width: 70%;
  }

  .container-centralize header .separete-header:first-child{
    display: none;
  }

  .container-centralize header .separete-header h1{
    font-size: 20px;
  }

  .container-centralize header .separete-header a{
    font-size: 14px;
  }

  .container-text > header p,
  .container-text .infos-wraper header p{
    font-size: 16px;
  }

  .container-text > header h1,
  section#aboutMe header h1,
  section#projects header h1,
  section#services header h1,
  section#skills header h1{
    font-size: 26px;
  }

  section#aboutMe header p{
    font-size: 13px;
  }

  .project-wraper .container-infos .infos-wraper h1{
    font-size: 22px;
  }

  .project-wraper .container-infos .infos-wraper p{
    font-size: 16px;
  }

  .container-infosMe .infosMe-wraper .infoMe .sub-info h1{
    font-size: 15px;
  }

  .container-infosMe .infosMe-wraper .infoMe .info a,
  .infoMe .info p{
    font-size: 14px;
  }

  article .article-content h1{
    font-size: 24px;
  }

  section#skills{
    height: auto;
    box-sizing: content-box;
  }

  section#skills header{
    padding: 2rem;
  }

  section#skills .container-skills{
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  section#skills .container-skills article{
    width: 176px;
    height: 150px;
  }

  footer{
    margin-top: 3rem;
  }
}

@media screen and (max-width: 730px){
  .container .container-centralize{
    width: 100%;
  }

  section#aboutMe header p{
    padding: 0 2rem;
    font-size: 10px;
  }

  section#aboutMe .container-infosMe{
    align-items: center;
    padding-left: 10px;
  }

  section#aboutMe .container-infosMe .infosMe-wraper{
    width: 90%;
  }

  section#projects{
    width: 100%;
  }

  section#projects .container-projects{
    width: 100%;
  }

  section#projects .container-projects .project-wraper{
    min-width: calc(592px * 1.4 * 0.6);
    height: calc(400px * 1.4 * 0.7);
  }
}

@media screen and (max-width: 600px){
  .container-centralize  header .separete-header{
    width: 100%;
  }

  section#home{
    max-height: 300px;
  }

  section#home > div:first-child{
    width: 50%;
  }

  section#home div .container-text{
    width: 100%;
  }

  .container-centralize section#aboutMe{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  section#aboutMe .container-infosMe{
    height: auto;
    padding: 0;
  }

  section#aboutMe .container-infosMe .infosMe-wraper{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80px;
  }

  .container-infosMe .infosMe-wraper .infoMe{
    justify-content: space-between;
  }

  .container-infosMe .infosMe-wraper .infoMe .icon{
    width: 40px;
    height: 40px;
  }

  .container-infosMe .infosMe-wraper .infoMe .sub-info h1{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
  }

  .container-infosMe .infosMe-wraper .infoMe .info a, .infoMe .info p{
    font-size: 8px;
    font-weight: 400;
    color: whitesmoke;
    text-decoration: none;
  }

  section#projects .container-projects .project-wraper{
    width: 100%;
    min-width: 0px;
  }
}

@media screen and (max-width: 430px){
  .container-centralize header .separete-header a{
    font-size: 12px;
  }

  section#home > div:first-child{
    width: 100%;
    display: grid;
    place-items: center;
  }

  section#home div .container-text{
    width: 70%;
  }

  section#home > div:last-child{
    display: none;
  }

  section#aboutMe{
    min-height: 350px;
  }

  section#aboutMe header p{
    font-size: 8px;
  }

  section#projects .container-projects{
    gap: 100px;
    align-items: center;
  }

  .project-wraper .container-infos .infos-wraper{
    padding-left: 17px;
  }

  .project-wraper .container-infos .links-wraper{
    justify-content: space-around;
    gap: 0;
  }

  .project-wraper .container-infos .links-wraper a{
    width: calc(206px * 0.8);
    font-size: 14px;
  }

  .project-wraper header .container-slides .slide{
    background-position: center;
  }
}
